<h4>form partial</h4>

<%= form_for @sticker do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <%= f.submit %>
<% end %>
