Welcome, <%= current_user.username %>

<%= button_to "Logout", logout_path, method: :get %>

<% @user.stickers.each do |sticker| %>
  <section class="sticker-<%=sticker.id%>">
    <p>Title: <%= sticker.title %></p>
    <p>Description: <%= sticker.description %></p>
    <p>Quantity: <%= sticker.quantity %></p>
    <%= button_to "Edit", edit_sticker_path(sticker), method: :get %>
  </section>
<% end %>
