<% @user.stickers.each do |sticker| %>
  <section class="sticker-<%=sticker.id%>">
    <p>Title: <%= sticker.title %></p>
    <p>Description: <%= sticker.description %></p>
    <p>Quantity: <%= sticker.quantity %></p>
    <%= button_to "Edit", edit_sticker_path(sticker), method: :get %>
    <%= button_to "Delete", sticker_path(sticker), method: :delete %>
  </section>
<% end %>
