<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>StickerOverflow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="nav justify-content-center">
      <div class="nav-item">
        <%= link_to "StickerOverflow", root_path, class: "nav-link" %>
      </div>
      <% if current_user %>
        <div class="nav-link">
          <p>Welcome, <%= link_to current_user.username, user_path(current_user)%>!</p>
        </div>
        <div class="nav-item">
          <%= link_to "Messages", user_messages_path(current_user), method: :get, class: "nav-link" %>
        </div>
        <div class="nav-item">
          <%= link_to "Logout", logout_path, method: :get, class: "nav-link" %>
        </div>
        <% if current_admin? %>
          <div class="nav-item">
            <%= link_to "Users", admin_users_path, method: :get, class: "nav-link" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to "Create a new user", new_user_path, method: :get, class: "nav-link" %>
        <%= link_to "Login", login_path, method: :get, class: "nav-link" %>
      <% end %>
    </nav>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>
