<!DOCTYPE html>
<html>
  <head>
    <title>StickerOverflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to "StickerOverflow", root_path %>
      <% if current_user %>
        <h4>Welcome, <%= link_to current_user.username, user_path(current_user) %>!</h4>
        <%= button_to "Messages", user_messages_path(current_user), method: :get %>
        <%= button_to "Logout", logout_path, method: :get %>
        <% if current_admin? %>
          <%= button_to "Users", admin_users_path, method: :get %>
        <% end %>
      <% else %>

      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
